body {
    margin-top: 20vh;
}

content {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
}

.leftSide {
    width: 25%;
    float: left;
}

.center {
    width: 50%;
}

.planList {
    text-align: left;
}

.rightSide {
    width: 25%;
    float: right;
}

.smallButton {
    margin: 0.5em 0 0 0 !important;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 155px !important;
}

#planListUl {
    border-radius: 0px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 0.5em 0 0 0 !important;
    list-style: none;
    padding: 0.25em 0.5em;
    height: 500px;
}

#backupplan {
    text-decoration: none;
    color: black;
}

#backupplan:hover {
    color: #682bd7;
    padding-left: 0.75em;
}