:root {
    font-family: "Montserrat", "Space Grotesk", 'Roboto', sans-serif;
    color: #242633;
    font-size: 2ch;
    overflow-x: hidden;
}

button {
    font-weight: 100;
    font-size: 1.5ch;
    width: 15em;
    margin: 0.5em 0;
    padding: 0.7em;
    color: white;
    background-color: #682bd7;
    background: linear-gradient(-45deg, rgba(104, 43, 215, 1) 0%, rgba(189, 46, 149, 1) 100%);
    border: 0;
    box-shadow: none;
    border-radius: 0.5em;
}

button:hover {
    background-color: #a580e8;
    cursor: pointer;
}

button>a {
    text-decoration: none;
    color: white;
}

footer {
    border-radius: 2em;
    padding: 0 1em;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #efefef;
    width: 99%;
    text-align: center;
    bottom: 0;
}

content {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    justify-items: center
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5ch;
}

.footerImg {
    height: 2em;
    margin: 0.25em 1em;
    z-index: 1;
}

.content {
    height: 100%;
    margin-top: auto;
    text-align: left;
    justify-content: start !important;
    margin: 0 0.5em;
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
}

/* max screen heigt 563px */
@media screen and (max-height: 700px) {
    body {
        margin-top: auto !important;
    }
}

@media screen and (min-width: 1000px) {
    .content {
        width: 99% !important;
        max-width: 1500px !important;
    }
}

